@import '~assets/scss/styles.scss';

.program-list-item__title {
    padding: 1rem;
    font-size: $font-size-lg;
    color: $theme-background;
    background-color: $theme-primary;
}

.program-list-item__activities {
    margin: 0.5rem;
}

.program-list-item__panel {
    margin: 0.5rem;
    border: 1px solid $theme-grey;
    box-shadow: none;
}

.program-list-item__panel-header {
    padding: 0.5rem 1rem;
}