// Theme colors

$theme-primary: #2E424E;
$theme-primary-dark: #182329;
$theme-primary-light: #415D6E;

$theme-warn: #BD4A38;
$theme-warn-dark: #91392B;
$theme-warn-light: #CC503C;

$theme-accent: #BA9765;

$theme-grey: #b4b4b4;
$theme-grey-dark: #646464;
$theme-grey-light: #e4e4e4;

$theme-foreground: #0A0A0A;
$theme-background: #ffffff;