// Theme colors

$theme-primary: #22B49C;
$theme-primary-dark: #187D6C;
$theme-primary-light: #30FCDB;

$theme-accent: #4391BF;
$theme-accent-dark: #316A8C;
$theme-accent-light: #59C1FF;

$theme-warn: #BD4A38;
$theme-warn-dark: #7D3125;
$theme-warn-light: #E77173;

$theme-foreground: #0A0A0A;
$theme-background: #ffffff;