<form class="add-activity-form" [formGroup]="activityForm" (submit)="addActivity()">
  
  <div fxLayout="row" class="add-activity-form__input-container">
    <label class="add-activity-form__input-label" for="name">Name:</label>
    <input class="add-activity-form__input" type="text" name="name" formControlName="name" />
  </div>
  <div class="add-activity-form__message-container add-activity-form__message-container--error"
    [ngClass]="errorClass(activityForm.controls)">
    <div class="add-activity-form__message">Activity requires a name.</div>
  </div>

  <div fxLayout="row" class="add-activity-form__input-container">
    <label class="add-activity-form__input-label" for="startDate">Start date:</label>
    <input class="add-activity-form__input" type="date" name="startDate" formControlName="startDate"/>
  </div>

  <div fxLayout="row" class="add-activity-form__input-container">
    <label class="add-activity-form__input-label" for="endDate">End date:</label>
    <input class="add-activity-form__input" type="date" name="endDate" formControlName="endDate" />
  </div>

  <div class="add-activity-form__submit">
    <input type="submit" value="Create activity" [disabled]="!activityForm.valid">
  </div>

</form>

<div class="add-activity-form__message-container add-activity-form__message-container--success"
  [ngClass]="successClass()">
  <div class="add-activity-form__message">{{message}}</div>
</div>