@import '~assets/scss/styles.scss';

.app-footer {
    background-color: $theme-background;
    border-top: 1px solid $theme-grey-dark;
}

.app-footer__copyright {
    margin: 0;
    padding: 0.5rem;
    font-size: 0.75rem;
}