@import '~assets/scss/styles.scss';

.program-list {
    margin: 1rem 0;
} 

.program-list__unordered-list {
    flex-wrap: wrap;
    border: 1px solid $theme-grey;
}

.program-list__list-item {
    background-color: $theme-background;
    width: 100%;
}