@import '~assets/scss/styles.scss';

.app-header {
    background-color: $theme-primary;
    color: $theme-background;
    border-bottom: 1px solid $theme-primary-dark;
}

.app-header__title {
    margin: 0;
    padding: 1.25rem;
    font-size: 1.25rem;
}